{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": true,
  "tabWidth": 2,
  "endOfLine": "lf",
  "arrowParens": "always",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "as-needed",
  "jsxBracketSameLine": false,
  "insertPragma": false,
  "requirePragma": false
}
