# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "npm"
    directory: "hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "[Recon] Dependabot Package Upgrade: "
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
    pull-request-branch-name:
      separator: "-"

  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "[Java] Dependabot Package Upgrade: "
    pull-request-branch-name:
      separator: "-"