.DS_Store
*.iml
*.ipr
*.iws
*.orig
*.rej
**/.keep
*.sdf
*.suo
*.vcxproj.user
*.patch
.idea
.vscode
.svn
.classpath
.project
.settings
*.factorypath
target
build
dependency-reduced-pom.xml
make-build-debug

# Filesystem contract test options and credentials
auth-keys.xml
azure-auth-keys.xml
azure-bfs-auth-keys.xml

# External tool builders
*/.externalToolBuilders
*/maven-eclipse.xml

#robotframework outputs
log.html
output.xml
report.html

.dev-tools
dev-support/ci/bats-assert
dev-support/ci/bats-support

.mvn/.gradle-enterprise/
.mvn/.develocity/

# Installer logs
tools/installer/logs/ansible.log
