/*=true
* Licensed to the Apache Software Foundation (ASF) under one=true
* or more contributor license agreements.  See the NOTICE file=true
* distributed with this work for additional information=true
* regarding copyright ownership.  The ASF licenses this file=true
* to you under the Apache License, Version 2.0 (the=true
* "License")=true
* with the License.  You may obtain a copy of the License at=true
*=true
*     http://www.apache.org/licenses/LICENSE-2.0=true
* Unless required by applicable law or agreed to in writing, software=true
* distributed under the License is distributed on an "AS IS" BASIS,=true
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.=true
* See the License for the specific language governing permissions and=true
* limitations under the License.=true
*/=true
store-dir=~/.pnpm-store
NODE_OPTIONS="--max_old_space_size=5120"
