<!--
   Licensed to the Apache Software Foundation (ASF) under one or more
   contributor license agreements.  See the NOTICE file distributed with
   this work for additional information regarding copyright ownership.
   The ASF licenses this file to You under the Apache License, Version 2.0
   (the "License"); you may not use this file except in compliance with
   the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->
<html>
<head><title>DataNode UI</title></head>
<body>
<table class="table table-bordered table-striped" class="col-md-6">
    <tbody>
    </tbody>
</table>

<h2>HeartBeat Information</h2>
<table class="table" class="col-md-6">
    <thead>
    <tr>
        <th>Address</th>
        <th>Last Successful HeartBeat</th>
        <th>Missed Count</th>
        <th>State</th>
        <th>Type</th>
        <th>Version Number</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="scm in $ctrl.heartbeatmetrics[0].SCMServers">
        <td>{{scm.addressString}}</td>
        <td>{{scm.lastSuccessfulHeartbeat}}</td>
        <td>{{scm.missedCount}}</td>
        <td>{{scm.state}}</td>
        <td>{{scm.type}}</td>
        <td>{{scm.versionNumber}}</td>
    </tr>
    </tbody>
</table>

<h2>Volume Information</h2>
<table class="table" class="col-md-6">
    <thead>
    <tr>
        <th>Directory</th>
        <th>Storage Type</th>
        <th>Volume Type</th>
        <th>Ozone Capacity</th>
        <th>Ozone Used</th>
        <th>Ozone Available</th>
        <th>Reserved</th>
        <th>Total Capacity (Ozone Capacity + Reserved)</th>
        <th>Filesystem Capacity</th>
        <th>Filesystem Available</th>
        <th>Filesystem Used</th>
        <th>Containers</th>
        <th>State</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="volumeInfo in $ctrl.dnmetrics">
        <td>{{volumeInfo["tag.StorageDirectory"]}}</td>
        <td>{{volumeInfo["tag.StorageType"]}}</td>
        <td>{{volumeInfo["tag.VolumeType"]}}</td>
        <td>{{volumeInfo.OzoneCapacity}}</td>
        <td>{{volumeInfo.OzoneUsed}}</td>
        <td>{{volumeInfo.OzoneAvailable}}</td>
        <td>{{volumeInfo.Reserved}}</td>
        <td>{{volumeInfo.TotalCapacity}}</td>
        <td>{{volumeInfo.FilesystemCapacity}}</td>
        <td>{{volumeInfo.FilesystemAvailable}}</td>
        <td>{{volumeInfo.FilesystemUsed}}</td>
        <td>{{volumeInfo.Containers}}</td>
        <td>{{volumeInfo["tag.VolumeState"]}}</td>
    </tr>
    </tbody>
</table>
</body>
</html>