/*
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/

.logo-v2 {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  padding: 20px;
  background-color: #142329;
  .logo-text-v2 {
    margin-left: 10px;
  }
}

.ant-layout-sider-collapsed {
  .logo-v2 {
    padding: 10px;

    .logo-text-v2 {
      display: none;
    }
  }
  .ant-layout-sider-trigger {
    background: #142329 !important;
    text-align: center !important;
    padding-left: 20px !important;
  }
}

.ant-layout-sider {
  background: #142329 !important;

  .ant-menu-dark {
    background: #142329 !important;
  
    .ant-menu-item-selected {
      span {
        color: #4DCF4C !important;
      }
      background: #224452 !important;
      color: #4DCF4C !important;
    }
  }
  
  .ant-layout-sider-trigger {
    background: #142329 !important;
    text-align: unset !important;
    padding-left: 25px;
  }
}