/*
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/

/**
    These colors have been taken from antd official color library
    Refer to https://ant.design/docs/spec/colors for more information
*/

// Red Colors
@red-1: #fff1f0;
@red-2: #ffccc7;
@red-3: #ffa39e;
@red-4: #ff7875;
@red-5: #ff4d4f;
@red-6: #f5222d;
@red-7: #cf1322;
@red-8: #a8071a;
@red-9: #820014;
@red-10: #5c0011;

// Volcano Colors
@volcano-1: #fff2e8;
@volcano-2: #ffd8bf;
@volcano-3: #ffbb96;
@volcano-4: #ff9c6e;
@volcano-5: #ff7a45;
@volcano-6: #fa541c;
@volcano-7: #d4380d;
@volcano-8: #ad2102;
@volcano-9: #871400;
@volcano-10: #610b00;

// Orange Colors
@orange-1: #fff7e6;
@orange-2: #ffe7ba;
@orange-3: #ffd591;
@orange-4: #ffc069;
@orange-5: #ffa940;
@orange-6: #fa8c16;
@orange-7: #d46b08;
@orange-8: #ad4e00;
@orange-9: #ad4e00;
@orange-10: #612500;

// Gold Colors
@gold-1: #fffbe6;
@gold-2: #fff1b8;
@gold-3: #ffe58f;
@gold-4: #ffd666;
@gold-5: #ffc53d;
@gold-6: #faad14;
@gold-7: #d48806;
@gold-8: #ad6800;
@gold-9: #874d00;
@gold-10: #613400;

// Yellow Colors
@yellow-1: #feffe6;
@yellow-2: #ffffb8;
@yellow-3: #fffb8f;
@yellow-4: #fff566;
@yellow-5: #ffec3d;
@yellow-6: #fadb14;
@yellow-7: #d4b106;
@yellow-8: #ad8b00;
@yellow-9: #876800;
@yellow-10: #614700;

// Lime Colors
@lime-1: #fcffe6;
@lime-2: #f4ffb8;
@lime-3: #eaff8f;
@lime-4: #d3f261;
@lime-5: #bae637;
@lime-6: #a0d911;
@lime-7: #7cb305;
@lime-8: #5b8c00;
@lime-9: #3f6600;
@lime-10: #254000;

// Green Colors
@green-1: #f6ffed;
@green-2: #d9f7be;
@green-3: #b7eb8f;
@green-4: #95de64;
@green-5: #73d13d;
@green-6: #52c41a;
@green-7: #389e0d;
@green-8: #237804;
@green-9: #135200;
@green-10: #092b00;

// Cyan Colors
@cyan-1: #e6fffb;
@cyan-2: #b5f5ec;
@cyan-3: #87e8de;
@cyan-4: #5cdbd3;
@cyan-5: #36cfc9;
@cyan-6: #13c2c2;
@cyan-7: #08979c;
@cyan-8: #006d75;
@cyan-9: #00474f;
@cyan-10: #002329;

// Blue Colors
@blue-1: #e6f4ff;
@blue-2: #bae0ff;
@blue-3: #91caff;
@blue-4: #69b1ff;
@blue-5: #4096ff;
@blue-6: #1677ff;
@blue-7: #0958d9;
@blue-8: #003eb3;
@blue-9: #002c8c;
@blue-10: #001d66;


//TODO: Adding other color palettes from AntD colors page as required
