/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.loader-circle {
  display: inline-block;
  height: 4rem;
  aspect-ratio: 1;
  background: '#1AA57A';
  border-radius: 50%;
  filter: blur(20px);
}

.loader-circle:nth-child(1) {
  animation: move-left 3s ease-in-out infinite;
  transform: translatex(100%);

  @keyframes move-left {
    50% {
      transform: translatex(-200px)
    }
    100% {
      rotate: 1turn;
    }
  }
}
.loader-circle:nth-child(2) {
  animation: move-right 3s ease-in-out infinite;
  transform: translatex(-100%);

  @keyframes move-right {
    50% {
      transform: translatex(200px)
    }
    100% {
      rotate: 1turn;
    }
  }
}
.loader-circle:nth-child(3) {
  animation: move-up 3s ease-in-out infinite;
  transform: translatex(-100%);

  @keyframes move-up {
    50% {
      transform: translatey(100px)
    }
    100% {
      rotate: 1turn;
    }
  }
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  background: rgba(37, 37, 37);
  filter: contrast(20);
}