/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.du-container {

  .path-nav-container {
    display: flex;
    align-items: flex-end;

    .go-back-button {
      display: inline-block;
    }
    .input-bar {
      display: inline-block;
      margin-left: 25px;
    }
  }

  .du-button-container{
    display: flex;
    .dropdown-button {
      display: inline-block;
    }
  
    .metadata-button {
      margin-left: 10px;
    }
  }

  .legendtext {
    fill: rgba(0, 0, 0, 0.65) !important;
    line-height: 1.5;
    font-size: 16px !important;
    font-feature-settings: 'tnum', "tnum";
    font-variant: tabular-nums;
  }

  .gtitle {
    font-size: 22px;
    font-weight: 500 !important;
    fill: rgba(0, 0, 0, 0.60) !important;
    font-feature-settings: 'tnum', "tnum";
    font-variant: tabular-nums;
  }

  .slicetext {
    fill: rgba(0, 0, 0, 0.60) !important;
    font-size: 17px !important;
    line-height: 1.5;
    font-feature-settings: 'tnum', "tnum";
    font-variant: tabular-nums;
  }
}

.input {
    padding-left: 5px;
    margin-right: 10px;
    display: inline-block;
    width: 300px;
}

.metadatainformation {
  font-size: 14px;
  fill: rgba(0, 0, 0, 0.65) !important;
  line-height: 1.5;
  font-feature-settings: 'tnum', "tnum";
}

.ant-drawer-open .ant-drawer-mask {
  opacity: 0 !important;
}