/**
 *   Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
*/
body {
    padding: 40px;
    padding-top: 60px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}


.btn {
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.table-striped > tbody > tr:nth-child(2n+1).selectedtag > td:hover {
    background-color: #3276b1;
}
.table-striped > tbody > tr:nth-child(2n+1).selectedtag > td {
    background-color: #3276b1;
}
.tagPanel tr.selectedtag td {
    background-color: #3276b1;
}
.top-buffer { margin-top:4px; }


.sortorder:after {
    content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
    content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}
.sorting:after {
    opacity: 0.2;
    content: "\e150";
    position: absolute;
    top: 8px;
    right: 8px;
    display: block;
    font-family: 'Glyphicons Halflings';
 }
.sortasc:after {
     opacity: 0.5;
     content: "\e155";
     position: absolute;
     top: 8px;
     right: 8px;
     display: block;
     font-family: 'Glyphicons Halflings';
 }
 .sortdesc:after {
     opacity: 0.5;
     content: "\e156";
     position: absolute;
     top: 8px;
     right: 8px;
     display: block;
     font-family: 'Glyphicons Halflings';
 }
.nodeStatusInfo {
    position: relative;
 }
.wrap-table{
    word-wrap: break-word;
    table-layout: fixed;
}

.om-roles-background {
    background-color: #dcfbcd!important;
}

.scm-roles-background {
    background-color: #dcfbcd!important;
}
.toggle-btn {
    background: transparent; /* No background color */
    color: #007bff; /* Button text color */
    border: none; /* No border */
    font-size: 12px; /* Font size for better readability */
    cursor: pointer; /* Pointer cursor on hover */
    padding: 5px 10px; /* Padding around the text */
    margin-bottom: 5px; /* Space below the button */
    transition: color 0.3s, transform 0.3s; /* Smooth transition for color and transform */
}

.toggle-btn:hover {
    color: #0056b3; /* Darker color on hover */
    transform: scale(1.1); /* Slightly scale up the button on hover */
}

.toggle-btn:focus {
    outline: none; /* Remove default focus outline */
}
