# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
name: build-branch
on:
  pull_request:
  push:
  schedule:
    - cron: 30 0,12 * * *
jobs:
  acceptance:
    name: acceptance
    runs-on: ubuntu-18.04
    steps:
        - uses: actions/checkout@master
        - uses: actions/cache@v2
          with:
            path: |
              ~/.pnpm-store
              **/node_modules
            key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
            restore-keys: |
              ${{ runner.os }}-pnpm-
        - uses: ./.github/buildenv
          with:
            args: ./hadoop-ozone/dev-support/checks/build.sh
        # remove image created for 'buildenv'
        - run: docker image rm $(docker images -a -q | head -1) || true
        # remove its big parent build image
        - run: docker image rm apache/ozone-build || true
        - run: sudo pip install robotframework
        - run: sudo mv ./hadoop-ozone/dist/target/ozone-* /mnt/ozone && sudo chown runner -R /mnt/ozone
        - run: id
        - run: cd /mnt/ozone && mkdir .aws && sudo chown 1000 .aws
        - run: cd /mnt/ozone && mkdir data && sudo chown 1000 data
        - run: cd /mnt/ozone/compose && ./test-all.sh
          env:
            KEEP_IMAGE: false
            OZONE_VOLUME: /mnt/ozone/data
        - uses: actions/upload-artifact@master
          if: always()
          with:
            name: acceptance
            path: /mnt/ozone/compose/result
